[project]
	description = The delicious Javascript framework
[access "refs/*"]
	owner = group user/ramith (ramith)
[access "refs/for/refs/*"]
	read = group user/ramith (ramith)
	push = group user/ramith (ramith)
	label-Code-Review = -2..+2 group user/ramith (ramith)
	label-Verified = -1..+1 group user/ramith (ramith)
	rebase = group user/ramith (ramith)
	removeReviewer = group user/ramith (ramith)
	submit = group user/ramith (ramith)
[access "refs/heads/*"]
	read = group user/ramith (ramith)
	create = group user/ramith (ramith)
	push = +force group user/ramith (ramith)
	pushMerge = group user/ramith (ramith)
[access "refs/tags/*"]
	push = +force group user/ramith (ramith)
	pushTag = group user/ramith (ramith)
	pushSignedTag = group user/ramith (ramith)
